.header-container {
    background-image: url('../img/pattern.png');
    background-size: 520px;
    background-repeat: repeat-x; 
    background-color: #4EA0FF;
    padding: 24px 0;
}

body{
    margin: 0 auto;
}


.logo {
    width: 210px;
    display: block; 

}

main, footer, header{
    max-width: 1100px;
    margin: 0 auto;

}

.booleaner{
    color: rgb(119,203,240);
}

.image-gallery{
    height: auto;
    flex: 1 1 auto; 
    min-width: auto;

}

.caption{
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.highlight{
    background-color: yellow;
}

.list{
    padding-left: 20px;
}

.wide-column {
    width: 50%;
}

.table {
    margin-left: 0;
    border-collapse: collapse;
}


.table td {
    padding: 10px 15px; 
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    background: #20A9E5;
    color: white;
    border: 1px solid #ccc;
    text-align: left;    
}

.table tr:nth-child(even) {
    background: rgb(177,229,242);
}

footer h2{
    color: gray;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.image-monitor, .image-graph {
    position: relative;
    display: inline-block;
}

.image-monitor img, .image-graph img {
    display: block;
    height: auto;
}
.image-text {
    position: absolute;
    top: 5px; 
    left: 6px;
    color: white;
    /*background-color: rgba(0, 0, 0, 0.5); */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
}
